In [29]:
import os
import xml.etree.ElementTree as xet

from glob import glob

In [30]:
import pandas as pd

In [31]:
path = glob('./images/*.xml')

In [32]:
def getFilename(filename):
    filename_image = xet.parse(filename).getroot().find('filename').text
    filepath_image = os.path.join('.\images',filename_image)
    return filepath_image

In [33]:
labels_dict = dict(filepath=[],xmin=[],xmax=[],ymin=[],ymax=[])

for filename in path:
    info = xet.parse(filename)
    root = info.getroot()
    member_object = root.find('object')
    labels_info = member_object.find('bndbox')
    
    xmin = int(labels_info.find('xmin').text)
    xmax = int(labels_info.find('xmax').text)
    ymin = int(labels_info.find('ymin').text)
    ymax = int(labels_info.find('ymax').text)
    
    labels_dict['filepath'].append(getFilename(filename))
    labels_dict['xmin'].append(xmin)
    labels_dict['xmax'].append(xmax)
    labels_dict['ymin'].append(ymin)
    labels_dict['ymax'].append(ymax)

In [34]:
df = pd.DataFrame(labels_dict)
df

               filepath  xmin  xmax  ymin  ymax
0      .\images\N1.jpeg  1093  1396   645   727
1    .\images\N100.jpeg   134   301   312   350
2    .\images\N101.jpeg    31   139   128   161
3    .\images\N102.jpeg   164   316   216   243
4    .\images\N103.jpeg   813  1067   665   724
..                  ...   ...   ...   ...   ...
220   .\images\N95.jpeg    23   408   173   391
221   .\images\N96.jpeg   137   352   141   186
222   .\images\N97.jpeg   175   290   228   255
223   .\images\N98.jpeg   563   675   207   238
224   .\images\N99.jpeg   158   389   129   193

[225 rows x 5 columns]

In [35]:
df.to_csv('labels.csv',index=False)